Repository JohnnyDo3/SentientExchange: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: relax ESLint rules and coverage thresholds for gradual adoption
  .eslintrc.js
  .lintstagedrc.json
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write

feat: comprehensive quality improvements - testing, security, and documentation
  .claude/settings.local.json
  .env.example
  .eslintrc.js
  .github/workflows/ci.yml
  CLAUDE.md
  SECURITY.md
  jest.config.js
  package-lock.json
  package.json
  quality-improvements-progress.md
  src/middleware/security.ts
  src/registry/adapters/SQLiteAdapter.ts
  tests/unit/payment/wallet.test.ts
  tests/unit/tools/execute-payment.test.ts
  tests/unit/tools/spending-limits.test.ts
  tests/unit/tools/submit-payment.test.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: quote glob patterns in lint scripts for cross-platform compatibility
  package.json
Due: prettier --write

fix: remove strict ESLint warning enforcement from CI
  .github/workflows/ci.yml
  quality-improvements-progress.md
Due: prettier --write

fix: replace Google Cloud workflow with Railway-only deployment on master
  .github/workflows/deploy-staging.yml
Due: prettier --write

fix: correct database schema column references in transactions queries
  src/server/websocket.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: remove .js extension from errors import for TypeScript compilation
  src/server/websocket.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: use barrel export for errors module to fix Docker build
  src/server/websocket.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: import getErrorMessage directly from types/errors
  src/server/websocket.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: add .js extension to match server directory pattern
  src/server/websocket.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: add moduleResolution node for proper .js extension handling
  tsconfig.json
Due: prettier --write

fix: force Railway cache bust for clean rebuild
  Dockerfile
Due: none

fix: remove .js extension from server index import
  src/server/index.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: add debug output to check dist directory after build
  Dockerfile
Due: none

fix: add rootDir to tsconfig to output to dist/ correctly
  Dockerfile
  tsconfig.json
Due: prettier --write

feat: integrate AI services into main API server
  examples/image-analyzer/Dockerfile
  examples/text-summarizer/Dockerfile
  package.json
  src/server/api.ts
  src/server/seed-endpoint.ts
  src/services/ai/image/imageAnalyzer.ts
  src/services/ai/sentiment/hybridSentimentAnalyzer.ts
  src/services/ai/sentiment/llmSentimentAnalyzer.ts
  src/services/ai/sentiment/mlSentimentAnalyzer.ts
  src/services/ai/sentiment/sentimentAnalyzer.ts
  src/services/ai/text/textSummarizer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: update package-lock.json for AI dependencies
  package-lock.json
Due: prettier --write

test: add comprehensive test suite for payment, AI services, and monitoring
  src/monitoring/HealthMonitor.ts
  tests/integration/SolanaVerifier.devnet.test.ts
  tests/integration/api-server-extended.test.ts
  tests/integration/apiServer.test.ts
  tests/integration/health-monitoring.test.ts
  tests/unit/monitoring/HealthMonitor.test.ts
  tests/unit/orchestrator/MasterOrchestrator.test.ts
  tests/unit/payment/DirectSolanaProvider.test.ts
  tests/unit/payment/PaymentFactory.test.ts
  tests/unit/payment/PaymentRouter.test.ts
  tests/unit/payment/SolanaVerifier.test.ts
  tests/unit/payment/X402Provider.test.ts
  tests/unit/services/imageAnalyzer.test.ts
  tests/unit/services/sentimentAnalyzer.test.ts
  tests/unit/services/textSummarizer.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix CI failures - add missing errors.ts and fix flaky test
  src/types/errors.ts
  tests/unit/auth/siwe.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add MDX dependencies to web package.json
  web/package.json
Due: prettier --write

Trigger staging deployment workflow
  .github/workflows/deploy-staging.yml
Due: prettier --write

fix: only trigger deployments after CI succeeds
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: prettier --write

Fix Railway build - copy packages directory before npm install
  Dockerfile
Due: none

Merge two API servers into unified marketplace API
  .claude/settings.local.json
  BRAND_ASSETS_README.md
  BRAND_GUIDE.md
  BRAND_QUICK_REFERENCE.md
  scripts/seed-database.ts
  src/api/apiServer.ts
  src/server/api.ts
  src/server/index.ts
  src/server/seed-endpoint.ts
  src/server/websocket.ts
  start-railway.js
  web/app/dashboard/page.tsx
  web/app/layout.tsx
  web/app/marketplace/page.tsx
  web/app/swarm/page.tsx
  web/components/Footer.tsx
  web/components/sections/AgentConsciousnessStream.tsx
  web/components/sections/CallToAction.tsx
  web/components/sections/HeroSection.tsx
  web/components/sections/ProblemSolution.tsx
  web/components/ui/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix rate limiting IPv6 validation error
  src/middleware/security.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix API server port configuration for Railway
  start-railway.js
Due: prettier --write

Add automatic database seeding on startup
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Reload registry after auto-seeding to update in-memory cache
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add status field and seed only real AI services as approved
  src/server/seed-endpoint.ts
  src/types/service.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix trust proxy for Railway deployment
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add DATABASE_URL debug logging to investigate PostgreSQL detection issue
  .claude/settings.local.json
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Remove debug logging now that DATABASE_URL is configured
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix PostgreSQL schema and JSONB deserialization issues
  src/api/apiServer.ts
  src/monitoring/HealthMonitor.ts
  src/registry/ServiceRegistry.ts
  src/registry/adapters/PostgresAdapter.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix registerService to include status field in INSERT statement
  src/registry/ServiceRegistry.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add admin endpoint to approve all pending services
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix Solana wallet authentication and auto-approve only seeded services
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,yml,yaml})
  bash -c 'tsc --noEmit': any of: *.ts
