Repository JohnnyDo3/SentientExchange: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,jsx,json,md,yml,yaml}": ["prettier --write"],
  "*.ts": ["bash -c 'tsc --noEmit'"]
}

Fix health check table migration and add Solana signature verification
  src/api/apiServer.ts
  src/auth/solana.ts
  src/registry/adapters/PostgresAdapter.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix admin portal URLs, PostgreSQL compatibility, and hero section spacing
  src/api/apiServer.ts
  src/payment/SpendingLimitManager.ts
  web/app/admin/approvals/page.tsx
  web/components/sections/HeroSection.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Enhance 404 page and fix health check monitoring
  src/monitoring/HealthMonitor.ts
  src/server/seed-endpoint.ts
  web/app/not-found.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add healthCheckUrl to Service metadata type definition
  src/types/service.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add migration to delete and re-seed services with healthCheckUrl
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix foreign key constraint - delete health checks before services
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix duplicate services in cache - dont reinitialize after seeding
  src/api/apiServer.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

fix: upgrade @anthropic-ai/sdk from 0.32.1 to 0.67.0
  examples/image-analyzer/package-lock.json
  examples/image-analyzer/package.json
Due: prettier --write

fix: upgrade lucide-react from 0.379.0 to 0.546.0
  web/package-lock.json
  web/package.json
Due: prettier --write

fix: upgrade tone from 15.1.22 to 15.3.5
  web/package-lock.json
  web/package.json
Due: prettier --write

fix: upgrade three from 0.164.1 to 0.180.0
  web/package-lock.json
  web/package.json
Due: prettier --write

Fix chat UI issues and add professional SEO
  web/app/favicon.ico
  web/app/layout.tsx
  web/banner.png
  web/components/chat/ChatInput.tsx
  web/components/chat/ChatInterface.tsx
  web/components/ui/Header.tsx
  web/favicon.ico
  web/public/robots.txt
  web/public/site.webmanifest
  web/public/sitemap.xml
  web/sentientXX.png
Due: eslint --fix --max-warnings=0, prettier --write

Add industry-standard marketing and SEO infrastructure
  MARKETING_CHECKLIST.md
  web/app/layout.tsx
  web/app/structured-data.tsx
  web/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

Fix chat functionality and UI issues
  src/api/apiServer.ts
  web/.eslintrc.json
  web/app/layout.tsx
  web/app/providers/register/page.tsx
  web/app/swarm/page.tsx
  web/components/3d/ConnectionBeam.tsx
  web/components/3d/SwarmVisualization.tsx
  web/components/ConditionalLayout.tsx
  web/components/chat/ChatInterface.tsx
  web/components/marketplace/ServiceModal.tsx
  web/components/providers/EditServiceModal.tsx
  web/components/providers/ServiceRegistrationForm.tsx
  web/lib/marketplace-api.ts
  web/lib/socket.ts
  web/public/apple-touch-icon.png
  web/public/banner.png
  web/public/favicon.ico
  web/public/icon-192.png
  web/public/icon-512.png
  web/public/sentientXX.png
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix unescaped entities in JSX properly
  web/app/not-found.tsx
  web/app/providers/analytics/page.tsx
  web/app/providers/register/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix remaining unescaped entities in JSX
  web/components/chat/SearchResultCard.tsx
  web/components/marketplace/ServiceModal.tsx
  web/components/providers/ServiceList.tsx
  web/components/providers/ServiceRegistrationForm.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Add API proxy to forward /api requests to backend server
  web/next.config.js
Due: prettier --write

Fix chat UI and model issues
  .lintstagedrc.json
  src/chat/AIReasoningEngine.ts
  web/components/chat/ChatInterface.tsx
  web/components/chat/SessionWalletCard.tsx
  web/components/ui/SoundToggle.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix chat NaN issue and improve UX
  web/app/layout.tsx
  web/components/chat/SessionWalletCard.tsx
  web/hooks/useChat.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix chat race condition and restore Discord meta tags
  web/app/layout.tsx
  web/hooks/useChat.ts
  web/lib/chat-api.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Implement enterprise-grade real-time streaming and pattern matching
  src/api/apiServer.ts
  src/chat/AIReasoningEngine.ts
  src/chat/ChatOrchestrator.ts
  src/chat/PatternMatcher.ts
  web/components/chat/MessageBubble.tsx
  web/hooks/useChat.ts
  web/package-lock.json
  web/package.json
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix word-by-word streaming with requestAnimationFrame and rebrand to Sentient Exchange
  src/chat/AIReasoningEngine.ts
  web/hooks/useChat.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Implement world-class chat AI with smart query extraction and animated status
  src/chat/ChatOrchestrator.ts
  src/chat/QueryExtractor.ts
  web/components/chat/ChatInterface.tsx
  web/components/chat/ServiceIndicator.tsx
  web/hooks/useChat.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Enhance chat AI with multi-service orchestration and Sentient Exchange branding
  src/chat/AIReasoningEngine.ts
  src/chat/ChatOrchestrator.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix search rate limits, streaming, and update logos
  src/api/apiServer.ts
  src/chat/ChatOrchestrator.ts
  src/search/BraveSearchClient.ts
  web/components/ui/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Implement dynamic service discovery for scalable marketplace
  src/chat/AIReasoningEngine.ts
  src/chat/ChatOrchestrator.ts
  src/chat/DynamicServiceMatcher.ts
  src/chat/PatternMatcher.ts
  src/registry/ServiceRegistry.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Add production-ready chat system with advanced features and accessibility
  src/chat/ChatOrchestrator.ts
  web/app/globals.css
  web/components/chat/ChatHistorySidebar.tsx
  web/components/chat/ChatInterface.tsx
  web/components/chat/CodeBlock.tsx
  web/components/chat/CommandPalette.tsx
  web/components/chat/ConnectionStatus.tsx
  web/components/chat/MessageActions.tsx
  web/components/chat/MessageBubble.tsx
  web/components/chat/ServiceBrowserModal.tsx
  web/components/chat/ServiceCallCard.tsx
  web/components/chat/ServiceIndicator.tsx
  web/components/chat/SettingsPanel.tsx
  web/components/chat/SkeletonLoaders.tsx
  web/components/ui/Toast.tsx
  web/hooks/useSound.ts
  web/hooks/useToast.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix TypeScript error in SettingsPanel spread operator
  web/components/chat/SettingsPanel.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix build failures by updating TypeScript and ESLint configuration
  web/.eslintrc.json
  web/lib/utils.ts
  web/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Improve TypeScript code quality and eliminate ESLint warnings
  web/app/admin/approvals/page.tsx
  web/app/dashboard/page.tsx
  web/app/global-error.tsx
  web/app/layout.tsx
  web/lib/marketplace-api.ts
  web/lib/physics.ts
  web/lib/socket.ts
  web/lib/solana-config.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Implement complete chat system with real API integration
  web/app/api/chat/fund/route.ts
  web/app/api/chat/history/[sessionId]/route.ts
  web/app/api/chat/message/route.ts
  web/app/api/chat/sessions/[sessionId]/route.ts
  web/app/api/chat/sessions/route.ts
  web/app/api/chat/stream/route.ts
  web/app/api/marketplace/services/route.ts
  web/components/chat/ChatHistorySidebar.tsx
  web/components/chat/ChatInterface.tsx
  web/hooks/useChat.ts
  web/lib/chat-api.ts
  web/lib/marketplace-api.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix TypeScript warnings, chat functionality, and Railway API routing
  web/app/providers/analytics/page.tsx
  web/app/providers/my-services/page.tsx
  web/app/providers/register/page.tsx
  web/app/swarm/page-old.tsx
  web/app/swarm/page.tsx
  web/components/3d/SwarmVisualization.tsx
  web/components/chat/ChatHistorySidebar.tsx
  web/lib/chat-api.ts
  web/lib/marketplace-api.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Clean up excess .md files
  AI_CHAT_IMPLEMENTATION_PLAN.md
  API.md
  ARCHITECTURE.md
  AgentMarket_Complete_Project_Plan.md
  BRAND_ASSETS_README.md
  BRAND_GUIDE.md
  BRAND_QUICK_REFERENCE.md
  CATCH_BLOCK_FIX_SUMMARY.md
  CLAUDE_DESKTOP_SETUP.md
  DEMO_SCRIPT.md
  MARKETING_CHECKLIST.md
  MIGRATION_STDIO_TO_SSE.md
  PHASE7_TEST_STATUS.md
  QUALITY_IMPROVEMENT_PROGRESS.md
  RAILWAY_DEPLOYMENT.md
  SECURITY.md
  VERIFICATION_REPORT.md
  quality-improvements-progress.md
Due: prettier --write

Add session wallet smart contract and security enhancements
  .gitignore
  HACKATHON_SLIDES_TEMPLATE.md
  SECURITY_AUDIT_REPORT.md
  SESSION_WALLET_TEST_REPORT.md
  Sentient_Exchange_Hackathon_Presentation.md
  package-lock.json
  package.json
  programs/session-wallet/Cargo.toml
  programs/session-wallet/src/lib.rs
  src/api/apiServer.ts
  src/wallet/SessionWalletManager.ts
  web/components/chat/ChatHistorySidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

URGENT: Fix TypeScript build errors for Railway deployment
  src/payment/solana-transfer.ts
  src/tools/execute-payment.ts
  src/wallet/SessionWalletManager.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

URGENT: Fix frontend display bugs for hackathon demo
  web/app/api/chat/fund/route.ts
  web/app/api/chat/history/[sessionId]/route.ts
  web/components/marketplace/ServiceModal.tsx
  web/lib/chat-api.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Complete SPL token integration and end-to-end workflow implementation
  .claude/settings.local.json
  src/server.ts
  src/tools/smart-news-sentiment.ts
  src/tools/web-search.ts
  src/wallet/SessionWalletManager.ts
  web/components/marketplace/ServiceModal.tsx
  web/lib/session-wallet.ts
  web/package-lock.json
  web/package.json
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'

Fix Railway deployment: pin SPL token version to 0.1.8 for Token class compatibility
  package.json
Due: prettier --write

Fix SPL token imports in SessionWalletManager for Railway deployment
  src/wallet/SessionWalletManager.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'tsc --noEmit'
